In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [6]:
tickers = ['MSFT', 'AAPL']
data = pd.DataFrame()
for ticker in tickers:
    data[ticker] = wb.DataReader(ticker, data_source="yahoo", start='2010-1-1')["Adj Close"]

In [7]:
data

                  MSFT        AAPL
Date
2010-01-04   23.800226    6.535084
2010-01-05   23.807915    6.546382
2010-01-06   23.661804    6.442256
2010-01-07   23.415730    6.430344
2010-01-08   23.577215    6.473096
...                ...         ...
2022-06-06  268.750000  146.139999
2022-06-07  272.500000  148.710007
2022-06-08  270.410004  147.960007
2022-06-09  264.790009  142.639999
2022-06-10  252.990005  137.130005

[3132 rows x 2 columns]

In [21]:
returns = np.log(data/data.shift(1))

In [10]:
returns["MSFT"].mean() * 250

0.18873003023382998

In [12]:
returns["MSFT"].std() * 250 ** 0.5

0.2539087851579928

In [14]:
returns["AAPL"].std() * 250 ** 0.5

0.28274914489870095

In [17]:
returns[["MSFT", "AAPL"]].std() * 250 ** 0.5 * 100

MSFT    25.390879
AAPL    28.274914
dtype: float64

In [18]:
returns[["MSFT", "AAPL"]].mean() * 250 * 100

MSFT    18.873003
AAPL    24.303291
dtype: float64