In [5]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [24]:
#Procter&Gamble, Microsoft, Ford and General Electric
tickers = ['PG', 'MSFT', 'F', 'GE']
data = pd.DataFrame()
for ticker in tickers:
    data[ticker] = wb.DataReader(ticker, data_source="yahoo", start='2005-1-1')['Adj Close']

In [29]:
returns = np.log(data/data.shift(1))
returns

                  PG      MSFT         F        GE
Date
2005-01-03       NaN       NaN       NaN       NaN
2005-01-04 -0.012581  0.003733 -0.003405 -0.012098
2005-01-05  0.010404 -0.002238 -0.015814 -0.006105
2005-01-06  0.004891 -0.001121  0.001385  0.008039
2005-01-07  0.010426 -0.002995  0.013746 -0.006093
...              ...       ...       ...       ...
2022-06-07  0.011086  0.013857  0.020589  0.012903
2022-06-08 -0.012532 -0.007699 -0.015402 -0.010828
2022-06-09 -0.018220 -0.021002 -0.018650 -0.031331
2022-06-10 -0.003797 -0.045587 -0.040728 -0.048636
2022-06-13 -0.015679 -0.029931 -0.066475 -0.045782

[4392 rows x 4 columns]

In [32]:
pesi = np.array([0.25, 0.25, 0.25, 0.25])

In [37]:
pFolioVar = np.dot(pesi.T, np.dot(returns.cov() * 250, pesi))
pFolioVar * 100

5.1366436113688705

In [36]:
pFolioVolatility = (np.dot(pesi.T, np.dot(returns.cov() * 250, pesi))) ** 0.5
pFolioVolatility * 100

22.664164690914312