In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("./data/medianCPI-US.csv")

In [3]:
data1 = pd.read_csv("./data/unemploymentRate-US.csv")

In [4]:
data.columns = ["Date","CPI"]
data = data[204:]
data = data.set_index("Date")
data.tail()

                 CPI
Date
2022-01-01  7.141525
2022-02-01  6.506399
2022-03-01  5.902594
2022-04-01  6.527993
2022-05-01  7.211770

In [5]:
data1.columns = ["Date","UnempRate"]
data1 = data1[624:]
data1 = data1.set_index("Date")
data1.tail()

            UnempRate
Date
2022-01-01        4.0
2022-02-01        3.8
2022-03-01        3.6
2022-04-01        3.6
2022-05-01        3.6

In [6]:
fData = pd.DataFrame()
fData = data
fData["UnempRate"] = data1["UnempRate"]

In [7]:
fData

                 CPI  UnempRate
Date
2000-01-01  3.851771        4.0
2000-02-01  2.785584        4.1
2000-03-01  3.416809        4.0
2000-04-01  2.276901        3.8
2000-05-01  2.853534        4.0
...              ...        ...
2022-01-01  7.141525        4.0
2022-02-01  6.506399        3.8
2022-03-01  5.902594        3.6
2022-04-01  6.527993        3.6
2022-05-01  7.211770        3.6

[269 rows x 2 columns]

In [8]:
fData.to_csv("./data/regressionData.csv")