In [36]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [75]:
data2 = pd.read_csv("./data/CommoditiesPrice%ChangeYoY.csv")
data2.columns = ["Date", "Commodities"]
data2 = data2.set_index("Date")
data2 = data2[12:]
#data2 = data2/data2.iloc[0] * 1
data2

            Commodities
Date
2005-01-01     16.82529
2005-02-01     19.98419
2005-03-01     25.13917
2005-04-01     23.01097
2005-05-01     14.87193
...                 ...
2021-12-01     48.54803
2022-01-01     39.00855
2022-02-01     44.65073
2022-03-01     70.66993
2022-04-01     56.15440

[208 rows x 1 columns]

In [76]:
data = pd.read_csv("./data/medianCPI-US.csv")
data.columns = ["Date","CPI"]
data = data[264:-1]
data = data.set_index("Date")
data

                 CPI
Date
2005-01-01  3.421759
2005-02-01  3.304002
2005-03-01  1.897179
2005-04-01  2.096479
2005-05-01  3.168462
...              ...
2021-12-01  5.275819
2022-01-01  7.141525
2022-02-01  6.506399
2022-03-01  5.902594
2022-04-01  6.527993

[208 rows x 1 columns]

In [77]:
data1 = pd.read_csv("./data/unemploymentRate-US.csv")
data1.columns = ["Date","UnempRate"]
data1 = data1[684:-1]
data1 = data1.set_index("Date")
data1

            UnempRate
Date
2005-01-01        5.3
2005-02-01        5.4
2005-03-01        5.2
2005-04-01        5.2
2005-05-01        5.1
...               ...
2021-12-01        3.9
2022-01-01        4.0
2022-02-01        3.8
2022-03-01        3.6
2022-04-01        3.6

[208 rows x 1 columns]

In [78]:
fData = pd.DataFrame()
fData = data
fData["UnempRate"] = data1["UnempRate"]
fData["Commodities"] = data2["Commodities"]

In [79]:
fData

                 CPI  UnempRate  Commodities
Date
2005-01-01  3.421759        5.3     16.82529
2005-02-01  3.304002        5.4     19.98419
2005-03-01  1.897179        5.2     25.13917
2005-04-01  2.096479        5.2     23.01097
2005-05-01  3.168462        5.1     14.87193
...              ...        ...          ...
2021-12-01  5.275819        3.9     48.54803
2022-01-01  7.141525        4.0     39.00855
2022-02-01  6.506399        3.8     44.65073
2022-03-01  5.902594        3.6     70.66993
2022-04-01  6.527993        3.6     56.15440

[208 rows x 3 columns]

In [80]:
fData.to_csv("./data/multivariateRegressionData.csv")